@font-face {
  font-family: 'OSNOVAPRO';
  font-weight: normal;
  src: url('../fonts/OSNOVAPRO.eot');
  src: local('☺'), url('../fonts/OSNOVAPRO.ttf') format('truetype'), url('../fonts/OSNOVAPRO.svg') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'OSNOVAPRO-BOLD';
  font-weight: bolder;
  src: url('../fonts/OSNOVAPRO-BOLD.eot');
  src: local('☺'), url('../fonts/OSNOVAPRO-BOLD.ttf') format('truetype'), url('../fonts/OSNOVAPRO-BOLD.svg') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'OSNOVAPROMEDIUM';
  font-weight: bold;
  src: url('../fonts/OSNOVAPROMEDIUM.eot');
  src: local('☺'), url('../fonts/OSNOVAPROMEDIUM.ttf') format('truetype'), url('../fonts/OSNOVAPROMEDIUM.svg') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'SPIK';
  src: url('../fonts/SPIK.eot');
  src: local('☺'), url('../fonts/SPIK.woff') format('woff'), url('../fonts/SPIK.ttf') format('truetype'), url('../fonts/SPIK.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  font-family: 'OSNOVAPRO', sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 1.2;
  background-color: #ffffff;
  font-weight: 300;
  padding: 0;
  margin: 0;
  height: 100%;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}
a {
  color: #3a438e;
}
a:hover,
a:active,
a:focus {
  color: #0072bc;
  border-color: #0072bc;
}
a,
input,
button,
textarea {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
p {
  margin-top: 10px;
  margin-bottom: 0;
}
h3 {
  font-size: 18px;
  font-weight: normal;
}
.left {
  float: left;
}
.right {
  float: right;
}
.pad-top-30 {
  padding-top: 30px;
}
.pad-bot-30 {
  padding-bottom: 30px;
}
.slick-prev,
.slick-next {
  z-index: 500;
  width: 21px;
  height: 41px;
}
.slick-prev {
  left: 5px;
}
.slick-prev::before {
  content: url('../images/media-left.png');
}
.slick-next {
  right: 5px;
}
.slick-next::before {
  content: url('../images/media-right.png');
}
.slick-dots {
  bottom: 12px;
  font-size: 0;
}
.slick-dots li {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px 0 1px 1px;
  width: 60px;
  height: 10px;
  margin: 0;
}
.slick-dots li.slick-active {
  background-color: #ffffff;
}
.slick-dots li:last-child {
  border-width: 1px;
}
.slick-dots li button {
  width: 60px;
  height: 10px;
}
.slick-dots li button::before {
  content: "";
  width: 60px;
  height: 10px;
  line-height: 10px;
}
.content-img {
  overflow: hidden;
  vertical-align: top;
  display: block;
}
.content-img img {
  width: auto;
  max-width: 100%;
}
.font-spik {
  font-family: 'SPIK';
}
input[type="text"],
textarea {
  border: 1px solid #ababab;
  padding: 7px 10px;
  font-size: 16px;
  display: block;
  width: 100%;
  margin-top: 15px;
}
.submit-border {
  display: block;
  background-image: url('../images/input-pat.png');
  padding: 6px;
  margin-top: 15px;
}
.submit-border input[type="submit"],
.submit-border button {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #353681;
  background-color: #ffffff;
  border: 0;
  padding: 10px 0;
  cursor: pointer;
}
/* -------- header -----------*/
.hheader {
  display: block;
  height: 105px;
}
.header-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1000;
}
.header-main {
  position: relative;
  padding: 25px 0 20px;
  z-index: 100;
  background-color: #ffffff;
}
.header-logo a {
  text-decoration: none;
}
.header-logo__image {
  display: block;
}
@media screen and (max-width: 1470px) {
  .header-logo__image {
    display: table-cell;
    vertical-align: top;
  }
}
.header-logo__slogan {
  font-size: 12px;
  color: #3a438e;
  display: block;
}
@media screen and (max-width: 1470px) {
  .header-logo__slogan {
    display: table-cell;
    padding-left: 20px;
    vertical-align: top;
  }
}
@media screen and (max-width: 1470px) {
  .header-menu {
    margin-top: 20px;
  }
}
.header-menu__item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  margin-right: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  border-bottom: 1px solid #bfbfbf;
}
.header-menu__item:hover,
.header-menu__item:focus,
.header-menu__item:active,
.header-menu__item.active {
  color: #0072bc;
  border-color: #0072bc;
}
.header-menu__item_submenu {
  margin-right: 40px;
  text-decoration: none;
  border-bottom: 1px dashed #bfbfbf;
  position: relative;
}
.header-menu__item_submenu::before {
  content: url('../images/submenu-inner.png');
  position: absolute;
  top: -2px;
  right: -15px;
}
.header-menu__item_submenu:hover,
.header-menu__item_submenu:focus,
.header-menu__item_submenu:active,
.header-menu__item_submenu.active {
  border-color: #0072bc;
}
.header-menu__item_submenu:hover::before,
.header-menu__item_submenu:focus::before,
.header-menu__item_submenu:active::before,
.header-menu__item_submenu.active::before {
  content: url('../images/submenu-inner-act.png');
}
.header-submenu {
  opacity: 0;
  -webkit-transform: translate(0, -160px);
      -ms-transform: translate(0, -160px);
          transform: translate(0, -160px);
  -webkit-transition: opacity 0.4s 0s, -webkit-transform 0.4s 0s;
  transition: opacity 0.4s 0s, -webkit-transform 0.4s 0s;
  transition: opacity 0.4s 0s, transform 0.4s 0s;
  transition: opacity 0.4s 0s, transform 0.4s 0s, -webkit-transform 0.4s 0s;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: -1;
}
.header-submenu.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  z-index: 10;
}
.header-submenu__inner {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 20px;
  border-top: 1px solid #c8d6c8;
}
.header-submenu__close {
  position: relative;
  z-index: 500;
  width: 29px;
  height: 29px;
  display: inline-block;
  background-image: url('../images/submenu-close.png');
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  margin-top: 10px;
  cursor: pointer;
}
.header-submenu__item {
  display: table;
  font-size: 16px;
  color: #000000;
  line-height: 25px;
  text-decoration: none;
  border-bottom: 1px solid #b0b0b0;
  margin-top: 10px;
}
.header-submenu__item:first-child {
  margin-top: 0;
}
.header-info {
  float: right;
}
.header-info a {
  font-size: 14px;
  line-height: 22px;
}
.header-info__home {
  background-position: left top 5px;
  background-image: url('../images/hi-home.svg');
  background-repeat: no-repeat;
  display: table-cell;
  padding-left: 30px;
  vertical-align: top;
  padding-right: 30px;
}
@media screen and (max-width: 1470px) {
  .header-info__home {
    background-position: left center;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 27px;
  }
}
.header-info__business {
  background-position: left top 5px;
  background-image: url('../images/hi-business.svg');
  background-repeat: no-repeat;
  display: table-cell;
  padding-left: 30px;
  vertical-align: top;
  padding-right: 30px;
}
@media screen and (max-width: 1470px) {
  .header-info__business {
    background-position: left center;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 27px;
  }
}
.header-info__phone {
  background-position: left top 5px;
  background-image: url('../images/hi-phone.svg');
  background-repeat: no-repeat;
  display: table-cell;
  padding-left: 30px;
  vertical-align: top;
}
.header-info__phone a {
  text-decoration: none;
  border-bottom: 1px dashed #3a438e;
}
.header-info__phone p {
  font-size: 16px;
  white-space: nowrap;
  margin: 0;
}
@media screen and (max-width: 1470px) {
  .header-info__phone {
    background-position: left center;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 27px;
  }
  .header-info__phone a {
    display: table-cell;
  }
  .header-info__phone p {
    display: table-cell;
    padding-left: 10px;
  }
}
/* -------- /header -----------*/
/* -------- content -----------*/
.main {
  margin: 0 auto;
  min-height: 100%;
}
.media-block.slick-slider {
  margin-bottom: 0;
}
.media-item {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 800px;
}
.media-item::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}
.media-item__info {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -100px;
  padding-left: 16px;
  padding-right: 16px;
}
.media-item__about {
  display: block;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  height: 200px;
}
@media screen and (max-width: 1470px) {
  .media-item__about {
    height: 160px;
  }
}
.media-item__header {
  display: inline-block;
  padding-top: 5px;
  font-size: 70px;
  vertical-align: middle;
  font-family: 'SPIK';
}
@media screen and (max-width: 1470px) {
  .media-item__header {
    font-size: 42px;
  }
}
.media-item__description {
  display: inline-block;
  vertical-align: middle;
}
.media-item__description li {
  position: relative;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  padding-left: 20px;
}
.media-item__description li::before {
  position: absolute;
  content: "—";
  left: 0;
}
.media-item__add {
  background-color: #ffffff;
  padding: 0 14px 0 4px;
  display: block;
  font-size: 0;
}
.media-item__control {
  display: inline-block;
  width: 30%;
  min-width: 30%;
  height: 200px;
  vertical-align: middle;
  position: relative;
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition: -webkit-transform 0.4s 0.1s;
  transition: -webkit-transform 0.4s 0.1s;
  transition: transform 0.4s 0.1s;
  transition: transform 0.4s 0.1s, -webkit-transform 0.4s 0.1s;
  background-color: #ffffff;
  padding-left: 10px;
}
.media-item__control a {
  display: inline-block;
  line-height: 100px;
  border-top: 1px solid #e1e1e1;
  background-position: center left 50px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  font-size: 16px;
  white-space: nowrap;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100px;
  color: #000000;
}
.media-item__control a:first-child {
  border-top: 0;
  top: 0;
  bottom: inherit;
}
.media-item__control a span {
  -webkit-transition: opacity 0.4s 0s, background 0.4s 0s;
  transition: opacity 0.4s 0s, background 0.4s 0s;
  opacity: 0;
}
.media-item__control a:hover,
.media-item__control a:focus,
.media-item__control a:active {
  color: #353681;
}
.media-item__control:hover,
.media-item__control:focus,
.media-item__control:active {
  -webkit-transform: translate(-230px, 0);
      -ms-transform: translate(-230px, 0);
          transform: translate(-230px, 0);
}
.media-item__control:hover a,
.media-item__control:focus a,
.media-item__control:active a {
  width: 360px;
}
.media-item__control:hover a span,
.media-item__control:focus a span,
.media-item__control:active a span {
  opacity: 1;
}
@media screen and (max-width: 1871px) {
  .media-item__control a {
    padding-left: 105px;
    background-position: center left 30px;
  }
  .media-item__control:hover a,
  .media-item__control:focus a,
  .media-item__control:active a {
    width: 320px;
  }
}
@media screen and (max-width: 1669px) {
  .media-item__control a {
    padding-left: 80px;
    width: 80px;
    background-position: center left 20px;
  }
  .media-item__control:hover a,
  .media-item__control:focus a,
  .media-item__control:active a {
    width: 305px;
  }
}
@media screen and (max-width: 1470px) {
  .media-item__control {
    height: 160px;
  }
  .media-item__control a {
    height: 80px;
    line-height: 80px;
    width: 60px;
    padding-left: 60px;
    background-position: center left 12px;
  }
}
.media-control__map {
  background-image: url('../images/media-marker.svg');
}
.media-control__map:hover,
.media-control__map:focus,
.media-control__map:active {
  background-image: url('../images/media-marker-act.svg');
}
.media-control__filter {
  background-image: url('../images/media-filter.svg');
}
.media-control__filter:hover,
.media-control__filter:focus,
.media-control__filter:active {
  background-image: url('../images/media-filter-act.svg');
}
.media-item__image {
  display: inline-block;
  width: 70%;
  min-width: 70%;
  vertical-align: middle;
  text-align: center;
  position: relative;
  line-height: 200px;
}
.media-item__image img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 1470px) {
  .media-item__image {
    line-height: 160px;
  }
}
.features-block {
  font-size: 0;
}
@-webkit-keyframes animatedFeatures_place {
  0 {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, -232px);
            transform: translate(0, -232px);
  }
}
@keyframes animatedFeatures_place {
  0 {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, -232px);
            transform: translate(0, -232px);
  }
}
@-webkit-keyframes animatedFeatures_structure {
  0 {
    -webkit-transform: translate(0, -60px);
            transform: translate(0, -60px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, -253px);
            transform: translate(0, -253px);
  }
}
@keyframes animatedFeatures_structure {
  0 {
    -webkit-transform: translate(0, -60px);
            transform: translate(0, -60px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, -253px);
            transform: translate(0, -253px);
  }
}
@-webkit-keyframes animatedFeatures_parks {
  0 {
    -webkit-transform: translate(0, -95px);
            transform: translate(0, -95px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, -287px);
            transform: translate(0, -287px);
  }
}
@keyframes animatedFeatures_parks {
  0 {
    -webkit-transform: translate(0, -95px);
            transform: translate(0, -95px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, -287px);
            transform: translate(0, -287px);
  }
}
@-webkit-keyframes animatedFeatures_tech {
  0 {
    -webkit-transform: translate(0, -84px);
            transform: translate(0, -84px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, -276px);
            transform: translate(0, -276px);
  }
}
@keyframes animatedFeatures_tech {
  0 {
    -webkit-transform: translate(0, -84px);
            transform: translate(0, -84px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, -276px);
            transform: translate(0, -276px);
  }
}
@-webkit-keyframes animatedFeatures_comfort {
  0 {
    -webkit-transform: translate(0, -90px);
            transform: translate(0, -90px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, -284px);
            transform: translate(0, -284px);
  }
}
@keyframes animatedFeatures_comfort {
  0 {
    -webkit-transform: translate(0, -90px);
            transform: translate(0, -90px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, -284px);
            transform: translate(0, -284px);
  }
}
.features-item {
  width: 20%;
  display: table-cell;
  position: relative;
  border-top: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
  vertical-align: top;
  /*&.out {
        .features-item__desc_place {
            animation: animatedFeatures_place_out 0.7s alternate-reverse;
            animation-fill-mode: forwards;
        }
        .features-item__desc_structure {
            animation: animatedFeatures_structure 0.7s reverse;
            animation-fill-mode: forwards;
        }
        .features-item__desc_parks {
            animation: animatedFeatures_parks 0.7s reverse;
            animation-fill-mode: forwards;
        }
        .features-item__desc_tech {
            animation: animatedFeatures_tech 0.7s reverse;
            animation-fill-mode: forwards;
        }
        .features-item__desc_comfort {
            animation: animatedFeatures_comfort 0.7s reverse;
            animation-fill-mode: forwards;
        }
    }*/
}
.features-item:last-child {
  border-right: 0;
}
.features-item.over .features-item__desc_place {
  -webkit-animation: animatedFeatures_place 0.7s normal;
          animation: animatedFeatures_place 0.7s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-item.over .features-item__desc_structure {
  -webkit-animation: animatedFeatures_structure 0.7s normal;
          animation: animatedFeatures_structure 0.7s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-item.over .features-item__desc_parks {
  -webkit-animation: animatedFeatures_parks 0.7s normal;
          animation: animatedFeatures_parks 0.7s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-item.over .features-item__desc_tech {
  -webkit-animation: animatedFeatures_tech 0.7s normal;
          animation: animatedFeatures_tech 0.7s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-item.over .features-item__desc_comfort {
  -webkit-animation: animatedFeatures_comfort 0.7s normal;
          animation: animatedFeatures_comfort 0.7s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-item:hover .features-item__pattern {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s 0.65s;
  transition: -webkit-transform 0.3s 0.65s;
  transition: transform 0.3s 0.65s;
  transition: transform 0.3s 0.65s, -webkit-transform 0.3s 0.65s;
}
.features-item__desc {
  opacity: 1;
  padding: 0 40px 0px;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s 0.1s;
  transition: -webkit-transform 0.3s 0.1s;
  transition: transform 0.3s 0.1s;
  transition: transform 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
}
@media screen and (max-width: 1470px) {
  .features-item__desc {
    padding: 0 30px 0;
  }
}
.features-item__desc_place {
  -webkit-transform: translate(0, -40px);
      -ms-transform: translate(0, -40px);
          transform: translate(0, -40px);
  margin-bottom: 10px;
}
.features-item__desc_structure {
  -webkit-transform: translate(0, -60px);
      -ms-transform: translate(0, -60px);
          transform: translate(0, -60px);
  margin-bottom: -10px;
}
.features-item__desc_parks {
  -webkit-transform: translate(0, -95px);
      -ms-transform: translate(0, -95px);
          transform: translate(0, -95px);
  margin-bottom: -45px;
}
.features-item__desc_tech {
  -webkit-transform: translate(0, -84px);
      -ms-transform: translate(0, -84px);
          transform: translate(0, -84px);
  margin-bottom: -34px;
}
.features-item__desc_comfort {
  -webkit-transform: translate(0, -90px);
      -ms-transform: translate(0, -90px);
          transform: translate(0, -90px);
  margin-bottom: -40px;
}
.features-item__image {
  display: block;
  position: relative;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.features-item__image img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.features-item__image_desc-place {
  background-image: url('../images/desc-place.svg');
}
.features-item__image_desc-structure {
  background-image: url('../images/desc-structure.svg');
}
.features-item__image_desc-parks {
  background-image: url('../images/desc-parks.svg');
}
.features-item__image_desc-tech {
  background-image: url('../images/desc-tech.svg');
}
.features-item__image_desc-comfort {
  background-image: url('../images/desc-comfort.svg');
}
.features-item__header {
  font-size: 30px;
  margin-top: 30px;
}
@media screen and (max-width: 1470px) {
  .features-item__header {
    font-size: 24px;
  }
}
.features-item__text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
}
@-webkit-keyframes animatedBackground {
  0 {
    background-position: 0 0;
  }
  100% {
    background-position: -600px 600px;
  }
}
@keyframes animatedBackground {
  0 {
    background-position: 0 0;
  }
  100% {
    background-position: -600px 600px;
  }
}
.features-item__pattern {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 60%;
  background-repeat: repeat;
  background-position: center;
  -webkit-transform: translate(0, 70px);
      -ms-transform: translate(0, 70px);
          transform: translate(0, 70px);
  -webkit-transition: -webkit-transform 0.2s 0.25s;
  transition: -webkit-transform 0.2s 0.25s;
  transition: transform 0.2s 0.25s;
  transition: transform 0.2s 0.25s, -webkit-transform 0.2s 0.25s;
  -webkit-animation: animatedBackground 60s linear infinite;
          animation: animatedBackground 60s linear infinite;
}
.features-item__pattern_blue-line {
  background-image: url('../images/blue-line.png');
  right: 0;
}
.features-item__pattern_blue-line::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: 25px solid transparent;
  border-bottom: 70px solid #ffffff;
  border-left: 0px solid #ffffff;
}
.features-item__pattern_yellow-wave {
  background-image: url('../images/yellow-wave.png');
  left: 0;
}
.features-item__pattern_yellow-wave::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border: 25px solid transparent;
  border-right: 0px solid #ffffff;
  border-bottom: 70px solid #ffffff;
}
.features-item__pattern_blue-point {
  background-image: url('../images/blue-point.png');
  right: 0;
}
.features-item__pattern_blue-point::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 25px solid transparent;
  border-left: 0px solid #ffffff;
  border-top: 70px solid #ffffff;
}
.features-item__pattern_yellow-line {
  background-image: url('../images/yellow-line.png');
  left: 0;
}
.features-item__pattern_yellow-line::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border: 25px solid transparent;
  border-right: 0px solid #ffffff;
  border-bottom: 70px solid #ffffff;
}
.features-item__pattern_blue-wave {
  background-image: url('../images/blue-wave.png');
  right: 0;
}
.features-item__pattern_blue-wave::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: 27px solid transparent;
  border-bottom: 70px solid #ffffff;
  border-left: 0px solid #ffffff;
}
.apartament-block {
  padding: 120px 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.apartament-block hr {
  display: none;
  border: 1px solid #ababab;
  margin: 60px 0 30px;
}
.apartament-block a {
  color: #252525;
  text-decoration: none;
}
.apartament-block:hover,
.apartament-block:focus,
.apartament-block:active {
  background-color: #3a438e;
  color: #ffffff;
}
.apartament-block:hover a,
.apartament-block:focus a,
.apartament-block:active a {
  color: #ffffff;
  text-decoration: none;
}
.apartament-block:hover .apartament-options__price span,
.apartament-block:focus .apartament-options__price span,
.apartament-block:active .apartament-options__price span {
  color: #ffffff;
}
.apartament-block:hover .feedback-block input[type="text"],
.apartament-block:focus .feedback-block input[type="text"],
.apartament-block:active .feedback-block input[type="text"] {
  background-color: transparent;
  color: #ffffff;
}
.apartament-block:hover .feedback-block input[type="text"]::-webkit-input-placeholder,
.apartament-block:focus .feedback-block input[type="text"]::-webkit-input-placeholder,
.apartament-block:active .feedback-block input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #878ec6;
}
.apartament-block:hover .feedback-block input[type="text"]::-moz-placeholder,
.apartament-block:focus .feedback-block input[type="text"]::-moz-placeholder,
.apartament-block:active .feedback-block input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #878ec6;
}
.apartament-block:hover .feedback-block input[type="text"]:-ms-input-placeholder,
.apartament-block:focus .feedback-block input[type="text"]:-ms-input-placeholder,
.apartament-block:active .feedback-block input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #878ec6;
}
.apartament-block:hover .feedback-block input[type="text"]:-moz-placeholder,
.apartament-block:focus .feedback-block input[type="text"]:-moz-placeholder,
.apartament-block:active .feedback-block input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #878ec6;
}
.apartament-block:hover .feedback-block .submit-border,
.apartament-block:focus .feedback-block .submit-border,
.apartament-block:active .feedback-block .submit-border {
  background-image: url('../images/input-pat-act.png');
}
.apartament-block:hover .feedback-block .submit-border input[type="submit"],
.apartament-block:focus .feedback-block .submit-border input[type="submit"],
.apartament-block:active .feedback-block .submit-border input[type="submit"],
.apartament-block:hover .feedback-block .submit-border button,
.apartament-block:focus .feedback-block .submit-border button,
.apartament-block:active .feedback-block .submit-border button {
  background-color: #3a438e;
  color: #d2ae42;
}
@media screen and (max-width: 1470px) {
  .apartament-block {
    padding: 70px 0 50px;
  }
  .apartament-block hr {
    display: block;
  }
}
.apartament-options {
  display: block;
  margin-top: 70px;
}
.apartament-options:hover,
.apartament-options:focus,
.apartament-options:active {
  color: #d2ae42;
}
.apartament-options:hover .apartament-options__price span,
.apartament-options:focus .apartament-options__price span,
.apartament-options:active .apartament-options__price span {
  color: #d2ae42;
}
@media screen and (max-width: 1470px) {
  .apartament-options {
    margin-top: 0;
  }
}
.apartament-options__name {
  font-size: 18px;
}
@media screen and (max-width: 1470px) {
  .apartament-options__name {
    font-size: 16px;
  }
}
.apartament-options__price {
  font-family: 'SPIK';
  font-size: 38px;
}
.apartament-options__price span {
  color: #3a438e;
}
@media screen and (max-width: 1470px) {
  .apartament-options__price {
    font-size: 30px;
  }
}
.feedback-block h3 {
  margin-top: 0;
}
/* -------- /content -----------*/
/* -------- footer -----------*/
.hfooter {
  clear: both;
  height: 200px;
}
.footer-wrap {
  position: relative;
  min-height: 200px;
  margin: -200px auto 0;
  padding: 50px 0 50px;
  background-color: #252525;
  color: #ffffff;
}
.footer-soc {
  font-size: 24px;
}
.footer-soc a {
  color: #ffffff;
  margin-right: 20px;
}
.footer-soc a:last-child {
  margin-right: 0;
}
.copyright-5th {
  display: block;
  padding-left: 42px;
  background-image: url('../images/5th.png');
  background-position: left top;
  background-repeat: no-repeat;
  color: #ffffff;
  text-decoration: none;
}
/* -------- /footer -----------*/
